@model string
     <div class="col-4">
     <div class="col-4">
        <input type="submit" class="@(Model == "Eliminar" ? "btn btn-danger form-control" : "btn btn-info form-control" )" value="Editar" />
    </div>
    <div class="col-4">
        <a asp-action="Index" class="btn btn-success form-control">Regresar</a>
    </div>
     </div>